:root {
    --primary-brand-color: #16423C;
    --secondary-brand-color: #6A9C89;
    --tertiary-brand-color: #C4DAD2;
  
    --primary-text-color: #E9EFEC;
    --secondary-text-color:#16423C;
  
    --accent-color: #FCDE70;
  
    --shadow-color: rgba(0, 0, 0, 0.8);
  }

/* HERO image container */
.image-container {
    position: relative;
    margin-top: 110px; /*for fixed header*/
    width: 100%; 
  }
  .image-container img {
    display: block;
    width: 100%;
  }
  .hero-button {
    position: absolute; 
    height:60px;
    width: 400px;
    animation: hero-button 1s infinite;
    top: 85%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    background-color: var(--accent-color); 
    color: var(--secondary-text-color); 
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border: none;
    border-radius: 15px;
  box-shadow: 0 4px 15px 0 var(--shadow-color);
    cursor: pointer; 
  }
  @keyframes hero-button {
    0% {background-color: var(--accent-color);}
    50% {background-color: #008CBA;}
    100% {background-color: var(--accent-color);}
  }
  /* responsible for width less 768 px */
  @media screen and (max-width: 768px) {
    .hero-button {
        top: 75%;
        height:50px;
        width: 300px;
        font-size: 20px;
    }
  }
   /* responsible for width less 414 px */
   @media screen and (max-width: 414px) {
    .hero-button {
        top: 80%;
        height:35px;
        width: 200px;
        font-size: 14px;
    }
  }
  