:root {
    --primary-brand-color: #16423C;
    --secondary-brand-color: #6A9C89;
    --tertiary-brand-color: #C4DAD2;

    --primary-text-color: #E9EFEC;
    --secondary-text-color:#16423C;

    --accent-color: #FCDE70;

    --shadow-color: rgba(0, 0, 0, 0.8);
  }
   /* HISTORY container */
  .history-main-container {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .history-main-container p {
    margin: 0;
  }
  .history-main-container img {
    margin-bottom: 10px;
  }
  .history-first-header {
    font-size: 28px;
    font-weight: 800px;
    margin: 0 0 10px 0;
  }
  .history-second-header {
    font-size: 20px;
    font-weight: 800px;
    margin-bottom: 15px;
  }
  .history-card-odd, .history-card-even {
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 10px;
  }

  .history-card-odd {
    background-color: var(--secondary-brand-color);
  }
  .history-card-even {
    background-color: var(--tertiary-brand-color);
  }
  .card-design-dots {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto 10px auto;
  }
  .card-dot {
    height: 20px;
    width: 20px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    display: inline-block;
  }
  .history-card-button {
    margin-top: 20px;
  }

  /* responsible for width less 768 px */
@media screen and (max-width: 768px) {
  .history-first-header {
    font-size: 24px;
  }
  .history-second-header {
    font-size: 16px;
    text-align: center;
  }
  .history-main-container p {
    font-size: 13px;
  }
  .history-main-img {
    width: 350px;
  }
  .card-design-dots {
    max-width: 350px;
    justify-content: space-around;
  }
  .card-dot {
    height: 16px;
    width: 16px;
  }
}

/* responsible for width less 414 px */
@media screen and (max-width: 414px) {
  .history-first-header {
    font-size: 18px;
  }
  .history-second-header {
    font-size: 14px;
    text-align: center;
  }
  .history-main-container p {
    font-size: 11px;
  }
  .history-main-img {
    width: 250px;
  }
  .card-design-dots {
    max-width: 250px;
  }
  .card-dot {
    height: 14px;
    width: 14px;
  }
}
