:root {
    --primary-brand-color: #16423C;
    --secondary-brand-color: #6A9C89;
    --tertiary-brand-color: #C4DAD2;

    --primary-text-color: #E9EFEC;
    --secondary-text-color:#16423C;

    --accent-color: #FCDE70;

    --shadow-color: rgba(0, 0, 0, 0.8);
  }
   /* PLACES OF INTEREST container */
 .interest-place-card-wrapper-odd {
    display:flex;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: var(--secondary-brand-color);
    border-radius: 10px;
}
.interest-place-card-wrapper-even {
    display:flex;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: var(--tertiary-brand-color);
    border-radius: 10px;
}
.interest-place-text-container {
    margin-left: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.interest-place-card-header{
    font-size: 28px;
    font-weight: 800px;
    margin-bottom: 30px;
}
.interest-place-card-text {
    margin: 0 0 10px 0;
}
.interest-place-link-to-learn-more {
    display: block;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 5px;
    color: var(--primary-text-color);
    text-decoration: none;
    border: 1px solid var(--primary-text-color);
  }
  .interest-place-link-to-learn-more:hover {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
  .interest-place-link-to-learn-more--even {
    color: var(--secondary-text-color);
    text-decoration: none;
    border: 1px solid var(--secondary-text-color);
  }
  
 /* responsible for width less 768 px */
@media screen and (max-width: 768px) {
    .main-section-wrapper .card-item:last-child {
        margin-bottom: 0;
    }
    
    .interest-place-card-wrapper-odd {
        flex-direction: column;
        align-items: center;
    }
    .interest-place-text-container {
        margin-left: 0;
    }
    .interest-place-card-header {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .interest-place-card-text {
        font-size: 13px;
    }
    .interest-place-card-wrapper-even {
        flex-direction: column-reverse;
        align-items: center;
    }
}
 /* responsible for width less 414 px */
 @media screen and (max-width: 414px) {
    .interest-place-card-header {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .interest-place-card-text {
        font-size: 11px;
    }
    .main-section-wrapper .card-item img {
        width: 200px;
    }
 }