:root {
    --primary-brand-color: #16423C;
    --secondary-brand-color: #6A9C89;
    --tertiary-brand-color: #C4DAD2;

    --primary-text-color: #E9EFEC;
    --secondary-text-color:#16423C;

    --accent-color: #FCDE70;

    --shadow-color: rgba(0, 0, 0, 0.8);
  }
body {
    padding: 0;
    margin: 0;
    font-family: "Merriweather", serif;
    overflow-x:hidden;
    letter-spacing: 1px;
  }
  h1,h2 {
    margin: 0;
    padding: 0;
  }

  /* For Main Section Comtainer - general styles for all pages */
  .main-section-wrapper {
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    color: var(--primary-brand-color);
    margin-bottom: 10px;
}
/* change margin top for additional pages */
.main-section-wrapper-additional-page{
  margin-top: 110px;
}
.main-section-header {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.card-button {
  height:50px;
  width: 250px; 
  background-color: var(--accent-color); 
  color: var(--secondary-text-color); 
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 15px 0 var(--shadow-color);
  cursor: pointer; 
}
.card-button:hover,  .card-button:focus {
  color: var(--accent-color); 
  background-color: var(--secondary-text-color);
  transform: scale(1.1);
  box-shadow: 0 4px 15px 0 var(--accent-color);
}
 /* responsible for width less 768 px */
 @media screen and (max-width: 768px) {
  .main-section-header{
    font-size: 35px;
}
.card-button {
  height:45px;
  width: 220px;
  font-size: 24px;
}
 }

  /* responsible for width less 414 px */
  @media screen and (max-width: 414px) {
    .main-section-header {
      font-size: 30px;
      margin-bottom: 10px;
  }
  .card-button {
    height:35px;
    width: 180px;
    font-size: 18px;
}
  }
